testbed/experiment_results/
analysis/*
.pyc
.pcap
.DS_Store
*.zip
*.json
*.tfstate
*.tfstate.backup
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
os_crawling/onion_pages/multithreaded_crawl
testbed/onion_pages
testbed/inventory_model.cfg
testbed/onion_pages_small

*.log
*.txt
os_crawling/pages_crawled2022/*
os_crawling/onion_pages_*
launch_template/credentials/account.sh
